<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/css/slick-theme.css" />
    <link rel="stylesheet" href="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/css/style.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>商品詳細 | Anty</title>
  </head>
  <body>
    <header>
      <div class="member detail item-top good">
        <h3>
        <a href="javascript:history.back()" class="back-btn none"
            ><i class="fas fa-chevron-left"></i
          ></a>
        </h3>
      </div>
    </div>
    </header>
<main>
    <div class="main-mypages detail-detail">
<div class="detai-img" id="derail-image">
    {% for image in images%}
    <img src="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/image/{{ image.path }}" alt="">
    {% endfor %}
</div>
<div class="item-datail-image-good">
<div class="item-detail-img">
<a href="">{{ product.brand.name }}</a>
<p class="item-name-datail">{{ product.temp_product.name }}</p>
<p class="item-datail-price">定価<span class="loss"> ￥&ensp;{{ product.temp_product.base_price }}</span> <span>税込</span></p>
<p class="item-datail-price-big">￥&ensp;{{ product.price }} <span>税込</span></p>
</div>
<div class="item-detail-good">
    <p> <i class="far fa-heart"><span>0</span></i>
    </p>
    <div class="burger-btn"><!-- ③ハンバーガーボタン -->
        <span class="bar bar_top"></span>
        <span class="bar bar_mid"></span>
        <span class="bar bar_bottom"></span>
      </div>
</div>
</div>
<div class="item-sell-man">
    <p>出品者</p>
</div>
<div class="item-sell-man-information">
    <div class="item-sell-guest">
        <div class="item-sell-mans">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="item-follow">
            <p class="guest-item">{{ product.seller.username }}</p>
            <p class="follow-item no-follow"><i class="fas fa-plus-circle"><span>フォロー</span></i></p>
        </div>
    </div>
    <div class="item-face">
<p><i class="fas fa-smile"></i><i class="fas fa-frown"></i></p>
<p class="item-face-number">0</p>
    </div>
    <div class="item-dress">

<a href="../profile/my-page-guest.html">
<i class="fas item-clothes fa-chevron-right"></i></a>
    </div>
</div>
<!--
<div class="favorite-item">
<p>#ストリート</p>
<p>#カジュアル</p>
<p>#モード</p>
</div>
-->
<div class="item-sell-man">
    <p>商品の説明</p>
</div>
<div class="explanation-item-sell">
<p>{{ product.explain | linebreaksbr }}</p>
</div>
<div class="item-sell-man">
    <p>商品の状態</p>
</div>
<!--
<div class="item-status">
    <p class="item-question">サイズ</p>
    <p class="item-answer">L</p>
</div>
-->
<div class="item-status">
    <p class="item-question">素材</p>
    <p class="item-answer">綿90:コットン10</p>
</div>
<div class="item-status">
    <p class="item-question">商品の状態</p>
    <p class="item-answer">{{ product.stauts.display }}</p>
</div>
<div class="item-status">
    <p class="item-question">発送までの目安
    </p>
    <p class="item-answer">{{ product.schedule.display }}</p>
</div>
<div class="item-sell-man">
    <p>おすすめの商品
    </p>
</div>
<div class="recommendation-img-item">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
    <img src="../images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="recommendation">
</div>
<div class="item-detal-last">

</div>
<div class="buy-item-detail-btn">
    <form action="">
        <button class="item-detail-btn" type="button" onclick="location.href='';">購入
        </button>
    </form>
</div>
        </div>
</main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/js/slick.js"></script>
    <script src="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/js/index.js"></script>
  </body>
</html>