<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/slick-theme.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ホーム | Anty</title>
  </head>
  <body>
    <header>
      <div class="member bottom home">
          <div class="serch-box">
        <form class="serch-box-box">
            <i class="fas fa-search serch-icon"></i>
            <input id="serch" type="text" placeholder="検索する">
            <i class="fas fa-chevron-down"></i>
          </form>
          <div class="bell-icon">
          <a href=""><i class="far fa-bell"></i></a>
        </div>
        </div>
        <div class="tab-area">
            <div class="tab open">
              おすすめ
            </div>
            <div class="tab">
              ピックアップ
            </div>
            <div class="tab">
              非公式
            </div>
          </div>
        <div class="serch-list-box hide">
            <ul class="serch-list">
            <li><a href="">カテゴリーから探す</a></li>
            <li><a href="">ブランドから探す</a></li>
            <li><a href="">絞り込み検索</a></li>
        </ul>
    </div>
    
      </div>
    </header>
<main>
    <div class="content-area">
        <section class="content show">
         <div class="recommend">
            <div class="recommend-box"></div>
            <div class="recommend-img">
                <div class="recommend-inner">
                    <img src="/static/images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
                <div class="recommend-inner">
                    <img src="/static/images/84EE435C-2B76-4577-A8C9-120E01C0E995.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
                <div class="recommend-inner">
                    <img src="/static/images/5C27EF15-1FFE-449B-BD26-579E17D6AD8C.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
                <div class="recommend-inner">
                    <img src="/static/images/A45D14A4-B27E-417C-9727-0B77BE90B44A.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
                <div class="recommend-inner">
                    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
                <div class="recommend-inner">
                    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
                    <div class="recommend-inner-box">
                        <p>NIKE</p>
                        <p>AIR FORCE 1</p>
                        <p>￥00,000</p>
                    </div>
                </div>
            </div>
         </div>
        </section>
        <section class="content">
            <div class="pickup">
                <div class="pickup-box">
          <p class="today-pickup pickup-width">今日のピックアップ</p>
        </div>
        <div class="pickup-text pickup-width">
        <p class="pickup-main-text">NIKE</p>
        <p class="pickup-main-text">AIR FORCE 1 '07</p>
        <p>人気のオリジナルモデルに新しいテイストを加えたデザイン。
            しっかりステッチされたオーバーレイ、クリーンな仕上げ、適度な光沢で、個性を際立たせます。
        </p>
    </div>
    <div class="pickup-images pickup-width">
        <div class="pickup-image">
        <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
        <p>￥00,000</p>
    </div>
    <div class="pickup-image">
        <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
        <p>￥00,000</p>
    </div>
    <div class="pickup-image">
        <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
        <p>￥00,000</p>
    </div>
        
    </div>
        </div>
        <div class="pickup">
            <div class="pickup-box">
      <p class="today-pickup pickup-width">ピックアップ一覧</p>
    </div>
    <div class="pickup-list pickup-width">
    <p class="pickup-main-text">NIKE AIR FORCE 1 '07</p>
    <p>人気のオリジナルモデルに新しいテイストを加えたデザイン。
        しっかりステッチされたオーバーレイ、クリーンな仕上げ、適度な光沢で、個性を際立たせます。</p>
</div>
<div class="pickup-list-box">
<div class="pickup-images pickup-width ">
    <div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
</div>
</div>
<div class="pickup-list pickup-width">
    <p class="pickup-main-text">NIKE AIR FORCE 1 '07</p>
    <p>人気のオリジナルモデルに新しいテイストを加えたデザイン。
        しっかりステッチされたオーバーレイ、クリーンな仕上げ、適度な光沢で、個性を際立たせます。</p>
</div>
<div class="pickup-list-box">
<div class="pickup-images pickup-width ">
    <div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
<div class="pickup-image-list">
    <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
    <p>￥00,000</p>
</div>
</div>
</div>
    </div>
        </section>
        <section class="content">
            <div class="recommend recommend-top">
                <div class="recommend-img">
                    <div class="recommend-inner">
                        <img src="/static/images/C8677318-C64B-43E5-BD90-90BD6EBC3B80.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                    <div class="recommend-inner">
                        <img src="/static/images/84EE435C-2B76-4577-A8C9-120E01C0E995.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                    <div class="recommend-inner">
                        <img src="/static/images/5C27EF15-1FFE-449B-BD26-579E17D6AD8C.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                    <div class="recommend-inner">
                        <img src="/static/images/A45D14A4-B27E-417C-9727-0B77BE90B44A.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                    <div class="recommend-inner">
                        <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                    <div class="recommend-inner">
                        <img src="/static/images/58B0B7AF-548C-4480-8719-E84D93547D15.png" alt="">
                        <div class="recommend-inner-box">
                            <p>NIKE</p>
                            <p>AIR FORCE 1</p>
                            <p>￥00,000</p>
                        </div>
                    </div>
                </div>
             </div>
        </section>
      </div>
</main>
    <footer>
        <div class="footer-box">
            <div class="footer-img color">
                <a href="/static/home.html"><i class="fas fa-home"></i>
                <p>ホーム</p>
            </a>
            </div>
            <div class="footer-img">
                <a href="/static/good.html"><i class="far fa-heart"></i>
                    <p>いいね</p>
                </a>
            </div>
            <div class="footer-img">
                <a href="{% url 'select_category' %}"><i class="fas fa-camera"></i>
                <p>出品</p>    
                </a>
            </div>
            <div class="footer-img">
               <a href=""> <i class="fas fa-globe-africa"></i>
                <p>エコ</p>
               </a>
            </div>
            <div class="footer-img">
		    <a href="{% url 'mypage' %}"> <i class="far fa-user"></i>
                <p>マイページ</p>
               </a>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/slick.js"></script>

    <script src="/static/js/index.js"></script>
  </body>
</html>
