<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="https://object-storage.tyo2.conoha.io/v1/nc_bb1da7ddca434cf287ba087513281fff/service/css/style.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>住所登録 | Anty</title>
  </head>
  <body>
    <header>
      <div class="member good">
        <h3>
        <a href="javascript:history.back()"
            ><i class="fas fa-chevron-left"></i></a>
        住所を変更する</h3>
      </div>
    </div>
    </header>

    <main>
        <div class="main">
            <form method="POST" name="main_form" action="{% url 'address_edit' %}">
            {% csrf_token %}
                <div class="main-address">
                    <section class="address-contents change">
                        <div class="address-width">
                            <div class="change-big flex">
                                <div class="change-big-left flex">
                                    <div class="big-left-left">
                                        <p class="big-left-text">姓</p>
                                           <input class="edit-input name_text" type="text" {% if address %}value="{{ address.lastname_furi  }}"{% endif %} name="lastname_furi" required>
                                            <input class="edit-input name_text" type="text" {% if address %}value="{{ address.lastname}}"{% endif %} name="lastname" required>
        
                                    </div>
                                    <div class="big-left-right">
                                        <p class="big-left-text">名</p>
                                            <input class="edit-input name_text" type="text" {% if address %}value="{{ address.firstname_furi }}"{% endif %} name="firstname_furi" required>
                                            <input class="edit-input name_text" type="text" {% if address %}value="{{ address.firstname }}"{% endif %} name="firstname" required>
                                    </div>
                                </div>
                                <div class="change-contents">
                                    <p class="big-left-text">電話番号</p>
                                            <input class="edit-input" type="text" {% if address %}value="{{ address.tel }}"{% endif %} name="tel" required>
        
                                </div>
                            </div>
                            <div class="change-mail flex change-bottom">
                                <div class="change-contents mail-contents">
                                    <p class="big-left-text">郵便番号</p>
                                            <input class="edit-input" type="text" {% if address %}value="{{ address.postalcode }}"{% endif %} name="postalcode" id="postalcode" required>
                                </div>
                                <button type="button" id="btn">郵便番号検索</button>
                            </div>
                            <div class="change-Prefecture flex change-bottom">
                                <div class="change-contents Prefecture-contents">
                                        <p class="big-left-text">都道府県</p>
                                    
                                        <select id="select_search" name="prefecture">
                                        <optgroup label="北海道">
                                            <option value="1">北海道</option>
                                        </optgroup>
                                        <optgroup label="東北">
                                            <option value="2">青森県</option>
                                            <option value="3">岩手県</option>
                                            <option value="4">宮城県</option>
                                            <option value="5">秋田県</option>
                                            <option value="6">山形県</option>
                                            <option value="7">福島県</option>
                                        </optgroup>
                                        <optgroup label="関東">
                                            <option value="8">茨城県</option>
                                            <option value="9">栃木県</option>
                                            <option value="10">群馬県</option>
                                            <option value="11">埼玉県</option>
                                            <option value="12">千葉県</option>
                                            <option value="13">東京都</option>
                                            <option value="14">神奈川県</option>
                                        </optgroup>
                                        <optgroup label="甲信越">
                                            <option value="19">山梨県</option>
                                            <option value="20">長野県</option>
                                            <option value="15">新潟県</option>
                                        </optgroup>
                                        <optgroup label="北陸">
                                            <option value="16">富山県</option>
                                            <option value="17">石川県</option>
                                            <option value="18">福井県</option>
                                        </optgroup>
                                        <optgroup label="東海">
                                            <option value="21">岐阜県</option>
                                            <option value="22">静岡県</option>
                                            <option value="23">愛知県</option>
                                            <option value="24">三重県</option>
                                        </optgroup>
                                        <optgroup label="近畿">
                                            <option value="25">滋賀県</option>
                                            <option value="26">京都府</option>
                                            <option value="27">大阪府</option>
                                            <option value="28">兵庫県</option>
                                            <option value="29">奈良県</option>
                                            <option value="30">和歌山県</option>
                                        </optgroup>
                                        <optgroup label="中国">
                                            <option value="31">鳥取県</option>
                                            <option value="32">島根県</option>
                                            <option value="33">岡山県</option>
                                            <option value="34">広島県</option>
                                            <option value="35">山口県</option>
                                        </optgroup>
                                        <optgroup label="四国">
                                            <option value="36">徳島県</option>
                                            <option value="37">香川県</option>
                                            <option value="38">愛媛県</option>
                                            <option value="39">高知県</option>
                                        </optgroup>
                                        <optgroup label="九州">
                                            <option value="40">福岡県</option>
                                            <option value="41">佐賀県</option>
                                            <option value="42">長崎県</option>
                                            <option value="43">熊本県</option>
                                            <option value="44">大分県</option>
                                            <option value="45">宮崎県</option>
                                            <option value="46">鹿児島県</option>
                                        </optgroup>
                                        <optgroup label="沖縄">
                                            <option value="47">沖縄県</option>
                                        </optgroup>
                                    </select>
                                
                                    
                                </div>
                                </div>
                            </div>
                            <input type="hidden" name="prefecture_kana" id="prefecture_kana">
                            <div class="change-contents number-contents change-bottom">
                                <p class="big-left-text">市区町村</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.detail1 }}"{% endif %} name="detail1" id="detail1" required>
                            </div>
                            <div class="change-contents number-contents change-bottom">
                                <p class="big-left-text">市区町村（カナ）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.kana1 }}"{% endif %} name="kana1" id="kana1" required>
                            </div>
                            <div class="change-contents number-contents change-bottom">
                                <p class="big-left-text">町域</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.detail2 }}"{% endif %} name="detail2" id="detail2" required>
                            </div>
                            <div class="change-contents number-contents change-bottom">
                                <p class="big-left-text">町域（カナ）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.kana2 }}"{% endif %} name="kana2" id="kana2" required>
                            </div>
                            <div class="change-contents building-contents">
                                <p class="big-left-text">番地以降（任意）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.detail3 }}"{% endif %} name="detail3" id="detail3">
                            </div>
                            <div class="change-contents building-contents">
                                <p class="big-left-text">番地以降（任意）（カナ）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.kana3 }}"{% endif %} name="kana3" id="kana3">
                            </div>
                            <div class="change-contents building-contents">
                                <p class="big-left-text">建物名（任意）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.detail4 }}"{% endif %} name="detail4" id="detail4">
                            </div>
                            <div class="change-contents building-contents">
                                <p class="big-left-text">建物名（任意）（カナ）</p>
                                        <input class="edit-input" type="text" {% if address %}value="{{ address.kana4 }}"{% endif %} name="kana4" id="kana4">
                            </div>
                            </div>
                    </section>
                    <div class="change-btn-box">
                        <a href="javascript:$('#hidden_button').click();" class="change-btn" style="margin-bottom:40px;">{% if address %}変更する{% else %}登録する{% endif %}</a>
			<input type="submit" style="display:none" id="hidden_button">
                    </div>
                </div>
            </form>
        </div>
    </main>

    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
	<script>
{% if messages %}
{% for message in messages %}
alert("{{ message }}");
{% endfor %}
{% endif %}
{% if address %}
$(function() {
  $('option[value="{{ address.prefecture.id }}"]').prop('selected', true);
});
{% endif %}

// 郵便番号検索
let search = document.getElementById('btn');
search.addEventListener('click', ()=>{
    let api = 'https://zipcloud.ibsnet.co.jp/api/search?zipcode=';
    let input = document.getElementById('postalcode');
    let param = input.value.replace("-",""); //入力された郵便番号から「-」を削除
    let url = api + param;

    fetchJsonp(url, {
        timeout: 10000, //タイムアウト時間
    })
    .then((response)=>{
        return response.json();
    })
    .then((data)=>{
        console.log(data);
        if(data.status === 400){ //エラー時
            alert(data.message);
        }else if(data.results === null){
            alert('郵便番号から住所が見つかりませんでした。');
        } else {
            $("#prefecture_kana").val(data.results[0].kana1);
            $("#kana1").val(data.results[0].kana2);
            $("#kana2").val(data.results[0].kana3);
            $("#detail1").val(data.results[0].address2);
            $("#detail2").val(data.results[0].address3);
        }
    })
    .catch((ex)=>{ //例外処理
        console.log(ex);
    });
}, false);
        </script>
    </body>
    </html>
